git+https://github.com/guissalustiano/litex-boards.git
git+https://github.com/enjoy-digital/litex.git@917c839c30d6dcc4a294ff516aadd37ed3326965
git+https://github.com/litex-hub/pythondata-software-picolibc.git
git+https://github.com/litex-hub/pythondata-software-compiler_rt.git
pythondata-cpu-vexriscv
migen
firebase_admin
pandas
dash
